@using Scheduler.Common
@{
    this.ViewData["Title"] = "Home Page";
}
@using Scheduler.Web.ViewModels 


    <head>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/form-elements.css"
        <link rel="stylesheet" href="assets/css/style.css">

        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
    </head>
<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <div>

        <!-- Top content -->
        @if (!this.User.Identity.IsAuthenticated)
         {
            <div class="top-content">

                <div class="inner-bg">
                    <div class="container">

                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 text">
                                <div class="description">

                                </div>
                            </div>
                        </div>

                        <div class="row"> 
                            
                             @{ await Html.RenderPartialAsync("../../Views/Home/PartialHomeLoginViews/LoginPartial");}
                             @{ await Html.RenderPartialAsync("../../Views/Home/PartialHomeLoginViews/RegisterPartial");}
                        </div>

                        </div>

                            <div class="col-sm-4 middle-border"></div>
                            <div class="col-sm-4"></div>

                            
                </div>

             </div>

         }


        <!-- Footer -->
        

        <!-- Javascript -->
        
        <script src="assets/js/jquery-1.11.1.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/jquery.backstretch.min.js"></script>
        @*<script src="assets/js/scripts.js"></script>*@
        <script src="Areas/Identity/Pages/Account/_ValidationScriptsPartial"> </script>
         

        <!--[if lt IE 10]>
        <script src="assets/js/placeholder.js"></script>
    <![endif]-->

    </div>
</div>
